<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhand.module.product.mapper.ProductPicMapper">
  <resultMap id="BaseResultMap" type="com.secondhand.module.product.entity.ProductPic">
    <!--@mbg.generated-->
    <!--@Table product_pic-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="product_pic" jdbcType="VARCHAR" property="productPic" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, pid, product_pic
  </sql>
</mapper>