<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhand.module.product.mapper.UserAttrMapper">
  <resultMap id="BaseResultMap" type="com.secondhand.module.product.entity.UserAttr">
    <!--@mbg.generated-->
    <!--@Table user_attr-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="user_sex" jdbcType="INTEGER" property="userSex" />
    <result column="user_resume" jdbcType="VARCHAR" property="userResume" />
    <result column="star_num" jdbcType="INTEGER" property="starNum" />
    <result column="follow_num" jdbcType="INTEGER" property="followNum" />
    <result column="fans_num" jdbcType="INTEGER" property="fansNum" />
    <result column="publish_num" jdbcType="INTEGER" property="publishNum" />
    <result column="sell_num" jdbcType="INTEGER" property="sellNum" />
    <result column="buy_num" jdbcType="INTEGER" property="buyNum" />
    <result column="collect_num" jdbcType="INTEGER" property="collectNum" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `uid`, user_sex, user_resume, star_num, follow_num, fans_num, publish_num, sell_num, 
    buy_num, collect_num, icon, uname, create_time, update_time
  </sql>
</mapper>