<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhand.module.mime.mapper.UserBuyMapper">

    <select id="getUserBuyByUserId" resultType="com.secondhand.module.mime.vo.ProductInfoVo">
        SELECT
	        	t2.* ,
	t3.product_pic
        FROM
	    user_buy t1
    	LEFT JOIN product t2 ON t1.product_id = t2.id
    	LEFT JOIN ( SELECT DISTINCT product_pic.pid, product_pic FROM product_pic ) t3 ON t2.id = t3.pid
        WHERE
	    t1.uid = #{userId}
    </select>
</mapper>
