<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhand.module.mime.mapper.UserCollectMapper">

    <select id="getUserCollectByUserId" resultType="com.secondhand.module.mime.vo.CollectProductVO">
        SELECT
            t1.collect_id,
            t2.id,
            t2.product_name,
            t2.product_content,
            t2.product_price,
            t3.product_pic,
            t2.product_status,
            t2.product_tag,
		    t2.product_create_time,
            t2.user_id AS userId,
            t2.user_name AS userName,
            t4.icon AS icon
        FROM
            user_collect t1
            LEFT JOIN product t2 ON t1.product_id = t2.id
            LEFT JOIN ( SELECT pic.pid, product_pic FROM product_pic pic GROUP BY pic.pid ) t3 ON t2.id = t3.pid
            LEFT JOIN sys_user t4 ON t2.user_id = t4.user_id
        WHERE
            t1.uid = #{userId}
            and t1.status =0
            	ORDER BY t2.create_time DESC
    </select>
</mapper>
