<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.secondhand.module.sys.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/secondhand/src/main/java" />
        <option name="javaModelPackage" value="com.secondhand.module.sys.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/secondhand/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="secondhand.main" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="secondhand.main">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.secondhand.module.sys.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/secondhand/src/main/java" />
                  <option name="javaModelPacakge" value="com.secondhand.module.sys.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/secondhand/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.secondhand.module.sys.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/secondhand/src/main/java" />
                  <option name="javaServicePackage" value="com.secondhand.module.sys.service.impl" />
                  <option name="javaServicePath" value="D:\finalTest\secondhand\secondhand\src\main\java" />
                  <option name="xmlPackage" value="mapper.sys" />
                  <option name="xmlPath" value="$PROJECT_DIR$/secondhand/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="secondhand:account_log">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="log_id" />
                  <option name="javaModelName" value="AccountLog" />
                  <option name="moduleName" value="secondhand.main" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="secondhand:chat_message">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="ChatMessage" />
                  <option name="moduleName" value="secondhand.main" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="secondhand:graph">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Graph" />
                  <option name="moduleName" value="secondhand.main" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="secondhand:leave_message">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="LeaveMessage" />
                  <option name="moduleName" value="secondhand.main" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="secondhand:order">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Order" />
                  <option name="moduleName" value="secondhand.main" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="secondhand:order_product">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="OrderProduct" />
                  <option name="moduleName" value="secondhand.main" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="secondhand:product">
              <value>
                <TableGenerateConfig>
                  <option name="columnOverrideList">
                    <list>
                      <MyColumnOverride>
                        <option name="columnName" value="product_status" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                    </list>
                  </option>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Product" />
                  <option name="moduleName" value="secondhand.main" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="secondhand:product_pic">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="ProductPic" />
                  <option name="moduleName" value="secondhand.main" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="secondhand:user_attr">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="UserAttr" />
                  <option name="moduleName" value="secondhand.main" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="mapper.sys" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/secondhand/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>